{% extends 'client/includes/base.html' %}

{% block title %}
    За авиа-билетами — только к нам!
{% endblock %}

{% block content %}
    <div class="container vh-100">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col text-center">
                <h1 class="display-5">Найди идеальный билет за секунды!</h1>
                <div id="tpwl-search mb-3"></div>
                <div id="tpwl-tickets"></div>
                <div class="row mt-2">
                    <div class="col-lg-4 mt-3">
                        <div class="card__1">
                            <h3>Экономия времени</h3>
                            <p>Мы сравниваем предложения от сотен авиакомпаний и агентств в одном месте. Покажем все варианты сразу.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-3">
                        <div class="card__1">
                            <h3>Лучшая цена</h3>
                            <p>Наш поиск находит самые выгодные тарифы, включая акции и специальные предложения.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-3">
                        <div class="card__1">
                            <h3>Безопасность</h3>
                            <p>Мы находим билеты, а безопасную оплату и оформление документов вы совершаете на платформе <a href="https://aviasales.ru" target="_blank"><b>Aviasales</b></a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}